.contenedor{
    margin: 15px 25px;
    box-shadow: 2px 0px 26px 1px rgba(0, 0, 0, 0.34);
    width: 80%;
    padding: 15px 40px 10px 20px;
    background-color: white;
    
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px;
    background-color: white;
}
.flex img {
    width: 25px;
    height: 25px;
    background-color: white;
    
}
.grenn{
    background-color: white;
    color:#84BF04 ;
}
.margLeft{
    margin-left: 50px;
}
@media screen and (max-width: 425px){
    .contenedor{
        width: 90%;
        padding: 15px 15px 10px 20px;
    }
    .flex{
        margin: 0px;
    }
    .flex img {
        width: 15px;
        height: 15px; 
    }
    .margLeft{
        margin-left: 0px;
    }
    .title{
        font-size: 17px;
    }
    .subtitle{
        font-size: 15px;
    }
    .par{
        font-size: 13px;
    }
}
