.sidebarCont{
    background-color: rgba(141, 141, 141, 0.169);
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 100vh;
    gap:1rem;

}
.Accordionxd{
    width: 25vw;
}
.inputSearch{
    width: 25vw;
    height: 2rem;
    border: none;
    border-radius: 10px;
}
input{
    margin-left: 5px;
}

@media screen and (max-width: 425px){
    .sidebarCont{
        width: 30vw;
        gap:1rem;

    }
    .Accordionxd{
        width: 30vw;
    }
    .inputSearch{
        width: 30vw;
        height: 1.5rem;
        border: none;
        border-radius: 10px;
    }
}